body{
    margin: 0;
    font-family: 'Roboto',sans-serif;
}

header{
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.verde{
    height: 1vh;
    width: 100vw;
    background-color: #2ccb6f;
}

.text{
    flex-direction: column;
    margin: 5vw;
    color: white;
    justify-content: space-around;
}

h1{
    font-size: 50pt;
    font-family: 'Pacifico',cursive;
}

.paragrafo{
    margin: 5vh 0 ;
    font-size: 15pt;
    height: auto;
    width: 25vw;
    display: flex;
}

.mao{
    margin-top: 10vh;
}

.os{
    border-radius: 100%;
    padding: 3%;
    border: 2px;
    background-color: rgb(126, 126, 126);
}

.os:hover{
    background-color: #2ccb6f;
}

section{
    justify-content: center;
    align-items: center;
    display: flex;
}

.second{
    margin: 1vh 0 ;
    font-size: 17pt;
    height: auto;
    width: 25vw;
    display: block;
    color: rgb(156, 156, 156);
}

h2{
    font-size: 20pt;
    color: black;
    margin-top: 5%;
}

.icone{
    padding: 5%;
    background-color: #2ccb6f;
    border-radius: 100%;
    margin-top: 0%;
}

.segunda{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    padding: 3vw;
}

aside{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: lightgray;
}

.vidro{
    height: 35vh;
    width: 35vw;
    border-radius: 5px 5px 5px 5px;
    padding: 10% 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

#vidro{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 0px;
}

.info{
    flex-direction: column;
    display: flex;
    padding: 3% 5% 5% 2%;
    width: 30vw;
}

.Email{
    box-sizing: border-box;
    width: 70%;
    height: 5vh;
    padding: 5px;
    border-radius: 8px 0 0 8px;
}

.notify{
    background-color: #2ccb6f;
    width: 30%;
    height: 5%;
    border-radius: 0 8px 8px 0;
}

.butest{
    margin: 0;
    color: whitesmoke;
    font-size: 17pt;
}

.oia{
    margin-top: 5%;
    justify-content: center;
    flex-direction: row;
    display: flex;
    width: 80%;
}

.secondd{
    margin: 1vh 0 ;
    font-size: 17pt;
    height: auto;
    width: 100%;
    display: block;
    color: rgb(156, 156, 156);
}

footer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ipsumm{
    margin-top: 6vh;
    margin-bottom: 0%;
    font-size: 15pt;
    width: 60%;
    height: auto;
    display: block;
    color: rgb(156, 156, 156);
    text-align: center;
}

.muspi{
    margin-top: 0;
    margin-bottom: 0%;
    font-size: 15pt;
    width: 60%;
    height: auto;
    display: block;
    color: rgb(156, 156, 156);
    text-align: center;
}

#Jane:hover{
    background-color: #2ccb6f;
}

h3{
    margin-top: 8vh;
}

h4{
    margin-bottom: 3vh;
}

.so{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 1px;
    border: 1px 10px;
    background-color: rgb(126, 126, 126);
}

.so:hover{
    background-color: #2ccb6f;
}

.links{
    margin: 5vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 25%;
}



.realfooter{
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 15vh;
    margin-top: 3vh;
    width: auto;
}

.center{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50vw;
    flex-direction: row;
    justify-content: space-between;
}